body {
    background-color: beige;
    display: flex;
    flex-direction: column;
}

.center img{
            border-radius: 20pt;
}

.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

